@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-col-center {
    @apply flex flex-col justify-center items-center min-h-screen w-screen;
  }

  .sticky-footer {
    @apply flex min-h-[calc(100vh_-_185.6px)];
  }
  .sticky-footer > *:nth-child(2) {
    @apply flex-1;
  }
  .sticky-footer > *:nth-child(1) {
    @apply w-full;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  color: #161616;
  background-color: #fff7ed;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

h1 {
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.1;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-family: inherit;
  border: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.van-detail {
  width: 31.25rem;
  /* max-width: 32rem; */
}

.van-type {
  display: inline-block;
  padding: 0.3rem 1.5rem;

  border-radius: 0.375rem;
}

.van-type--default {
  background-color: #ffead0;
  color: #4d4d4d;
}

.van-type--default:link,
.van-type--default:visited {
  background-color: #ffead0;
  color: #4d4d4d;
}

.van-type--simple {
  background-color: #e17654;
  color: #ffead0;
}

.van-type--simple:link,
.van-type--simple:visited {
  background-color: #e17654;
  color: #ffead0;
}

.van-type--rugged {
  background-color: #115e59;
  color: #ffead0;
}

.van-type--rugged:link,
.van-type--rugged:visited {
  background-color: #115e59;
  color: #ffead0;
}

.van-type--luxury {
  background-color: #161616;
  color: #ffead0;
}

.van-type--luxury:link,
.van-type--luxury:visited {
  background-color: #161616;
  color: #ffead0;
}

.active:link,
.active:visited {
  font-weight: bold;
  color: #161616;
  border-bottom: 1px solid #161616;
}

.host-van-detail > * {
  max-width: 100%;
  height: 7.5rem;
}

.host-vans > * {
  margin-bottom: 1.2em;
}

.backarrowlink {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #201f1d;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 27px;
}

.login-container > h1 {
  margin-bottom: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}
